$white: #fff;
$gray: #aaa;
$blue: #2196f3;

$border-pending: #B73229;
$bg-pending: #f4cbc8;
$hover-pending: #6d0e09;

$text-done: #ddd;
$border-done: #0a8F08;
$bg-done: #b4edb6;
$hover-done: #075405;

$progress-blue-dark: #012b49;
$progress-blue: #0861a5;